---
import { getCollection } from 'astro:content';
import { getEntry, render } from 'astro:content';
import Article from '../../layouts/Article.astro';

const collection = await getCollection('sdk');
const entry = await getEntry('sdk', 'index_en');
if (!entry) {
  return Astro.redirect('/404');
}
const { Content } = await render(entry);
---

<Article title={entry.data.title} seoDescription={entry.data.seoDescription} cover={entry.data.cover}>
  <Content frontmatter={entry.data} />
  <p>{entry.data.seoDescription}</p>
  <p>{JSON.stringify(collection)}</p>
</Article>
