---
import { Picture } from 'astro:assets';
import type { DataEntryMap } from 'astro:content';
import { getEntry } from 'astro:content';

interface Props {
  entry: keyof DataEntryMap;
  id: string;
  description?: string;
}

const pageEntry = await getEntry(Astro.props.entry, Astro.props.id);
const cover = pageEntry?.data.cover?.[0];
const title = pageEntry?.data.title ?? 'Page not found';
const description = Astro.props.description;
const idFragment = Astro.props.id.startsWith('index_') ? '' : `/${Astro.props.id}`
const localeFragment = Astro.props.id.split('_')[1] ?? Astro.currentLocale;
const pageUrl = `/${localeFragment}/${Astro.props.entry}${idFragment}`; // TODO: figure out a fix for entry (to support level of /)
---

<aside class="note-excerpt">
  <a href={pageUrl}>
    <header>
      {cover && <Picture formats={['avif', 'webp']} layout="full-width" alt={`${title} cover image`} src={cover} />}
      <h3 class="note-excerpt-title">{title}{!cover && <small> ➔</small>}</h3>
    </header>
    {description && <div class="note-excerpt-text">{description}</div>}
  </a>
</aside>

<style>
  .note-excerpt {
    line-height: 1.5em;
  }
  .note-excerpt header {
    margin-bottom: 1.5rem;
  }
  .note-excerpt figure {
    margin-bottom: 0.5rem;
  }
  .note-excerpt-title {
    font-weight: 600;
  }
  .note-excerpt a {
    text-decoration: none;
    color: #000;
  }
</style>
